<aside class="col-1">
  <div class="read-first">
    <i class="fas fa-book"></i>
    <span>Read First</span>
  </div>
  <div class="read-first">
    <i class="fas fa-user-alt"></i>
    <span>Profile</span>
  </div>
  <div class="config">
    <%= link_to config_path do %>
      <i class="fas fa-cogs"></i>
      <span>Options</span>
    <% end %>
  </div>
  <div class="read-first">
    <i class="fas fa-comment-alt"></i>
    <span>Commands</span>
  </div>
  <div class="read-first">
    <i class="fas fa-cat"></i>
    <span>Collection</span>
  </div>
  <div class="marketplace">
    <%= link_to mascots_path do %>
      <i class="fas fa-store"></i>
      <span>Marketplace</span>
    <% end %>
  </div>
  <div class="read-first">
    <i class="fas fa-globe-americas"></i>
    <span>World</span>
  </div>
</aside>
