

<div class="card mainCard">
  <div class="card-header d-flex">
    <span>Marketplace</span>
    <button class="btn ml-auto">Pursache Jashimons</button>
  </div>
  <div class="card-body row">
    <%= render  @mascots %>
  </div>
</div>